<main class="index">
    <header class="bgindex d-flex">
    <div class="container my-auto text-center">
        <h1 class="mb-3 fw-bold">ContactFI</h1>
        <h3 class="mb-5 fst-italic">Almacena tus contactos de la FI</h3>
        <a href="/profile" class="btn btn-primary start-button" >Empezar</a>
    </div>
    </header>
</main>